/* color variables */
:root{
    --color-primary:#5856CE;
    --color-primary-hover: #6a69d4;
    --color-secondary:black;
    --color-white:#ffffff;
}

/* ... */

.logo {
    position: absolute;
    width: 128.06px;
    height: 60px;
    left: 39px;
    top: 21px;
}

.navbar {
    display: flex;
    width: fit-content;
    overflow: hidden;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

ul>li>a {
    text-decoration: none;
    color: var(--color-secondary);
}

ul>li>a:hover {
    color: var(--color-primary);
    transition: color 0.5s ;
}

.left-side-nav-items {
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-left: 9rem;
    width: 100%;
}

.right-side-nav-items {
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-left: 10rem;
    width: 100%;
}

.primary {
    padding: 10px;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
}

.primary:hover {
    color: var(--color-white);
    background-color: var(--color-primary-hover);
   transition: background 0.5s;
}
.secondary {
    padding: 10px;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
}

.secondary:hover{
    color: var(--color-white);
    background-color: var(--color-primary);
}

/* ----------- */

@media only screen and (max-width: 600px) {
    .left-side-nav-items {
        display: none;
    }

    .login {
        display: none;
    }

    .secondary {
        display: none;
    }
}